{% extends 'common/layout.html' %}

{% block title %}Schedule{% endblock %}

{% block header %}
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <!-- Navbar content -->
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">{{user}}</span>
    </nav>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav4">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal3">
                    ログアウト
                </button>
            </li>
        </ul>
    </div>
    <div class="modal fade" id="modal3" tabindex="-1"
            role="dialog" aria-labelledby="label3" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="label3">ログアウト</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <h3>ログアウトしますか？</h3>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">はい</button>
            </div>
          </div>
        </div>
    </div>
        
</nav>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'menu' %}">
            　メニュー
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'shopping_list' %}">
              お買い物リスト
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'stock' %}">
              在庫
            </a>
          </li>
        </ul>
    </div>
</nav>  
{% endblock %}


{% block content %}
<table class="table">
  <tr>
    <th>日付</th>
    <th>朝</th>
    <th>昼</th>
    <th>夜</th>
  </tr>

{% for item in daylist %}
  <tr>
    {% for val in item %}
    <td>
      {% if forloop.counter > 1 %}
        {% for key, value in val.items %}
          <a class="menu_link" href="{% url 'recipe' key %}">
            {{ value }}
          </a>
        {% endfor %}
      {% else %}
        {{val}}
      {% endif %}  
    </td>
    {% endfor %}
  </tr>
{% endfor %}
</table>
{% endblock %}